.header-image-container {
    background-size:cover; 
    background-repeat:no-repeat; 
    background-attachment: fixed;
    
    @include media-breakpoint-down(sm) {
        height:25rem;
    }
    @include media-breakpoint-up(md) {
        height:35rem;
    }
}

.header-no-image-container {
    height:20rem;
    background-color: $secondary;
}

.site-description {
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

