.comment-body {
    border: 1px solid #eaeaea;
    margin-bottom: 2rem !important;    
    background-color: #ffffff;
}

.comment-metadata {
    font-size: 0.75rem;
    color: $secondary;  
    padding-left: ($grid-gutter-width / 2);
}

.comment-content {
    padding-top: 1rem !important;
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
}

.reply {
    font-size: 0.75rem;
    color: $secondary;  
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2); 
}

.comments-area ul, .comments-area ol {
    list-style:none; 
}

.comment-list {
    padding-left: 0px;    
}

.comments-area {
    border-top: 1px dashed $primary;
    margin-top: 1rem;
}

.comments-respond {
    margin-bottom: 1rem;
}

.comments-area .children {
    padding-left: 1rem;
}

.author {
    text-transform: capitalize;
    font-size: 0.9rem;
}

.comments-area, .comment-respond, .comments-title {
    margin-top: 1.5rem !important;
}