.cat-links {
    font-size: 0.75rem;
    color: $secondary;        
}

.entry-meta {
    font-size: 0.75rem;
    color: $secondary;    
}

.tags-links {
    font-size: 0.75rem;
    color: $secondary;
    padding-left: 1rem !important;        
    margin-left: 1rem !important;
    border-left: solid 1px $tertiary;
}

.edit-link {
    font-size: 0.75rem;
    color: $secondary;    
    padding-left: 1rem !important;
    margin-left: 1rem !important;                
    border-left: solid 1px $tertiary;
}

.comments-link {
    font-size: 0.75rem;
    color: $secondary;    
    padding-left: 1rem !important;
    margin-left: 1rem !important;                
    border-left: solid 1px $tertiary;
}

.post {
    border: 1px solid #eaeaea;
    box-shadow: 2px 2px #eaeaea;
    background-color: #ffffff;
}

.entry-title {
    word-wrap: break-word;
}

.entry-title a:hover {
    text-decoration: none;
}

.nav-links {
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

@include media-breakpoint-down(sm) {
    .nav-previous-title, .nav-next-title {
        display:none;
    }

    .nav-previous-header, .nav-next-header {
        font-size: 1rem;
    }
}

