.cat-links {
    font-size: 0.75rem;
    color: $secondary;        
    
}

.tags-links {
    font-size: 0.75rem;
    color: $secondary;
    padding-left: 1rem !important;        
    margin-left: 1rem !important;
    border-left: solid 1px $tertiary;
}

.edit-link {
    font-size: 0.75rem;
    color: $secondary;    
    padding-left: 1rem !important;
    margin-left: 1rem !important;                
    border-left: solid 1px $tertiary;
}

.comments-link {
    font-size: 0.75rem;
    color: $secondary;    
    padding-left: 1rem !important;
    margin-left: 1rem !important;                
    border-left: solid 1px $tertiary;
}